<button (click)="loadProductFromApi()">Load product from api</button>
<!-- <div class="row">
  <div class="col-md-8">

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']"
        >Add Post</a
      >
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post in products">
          <td>{{ post.id }}</td>
          <td style="word-break: break-all">{{ post.id }}</td>
          <td style="word-break: break-all">{{ post.uid }}</td>
          <td>
            <a href="" class="btn btn-primary" [routerLink]="['edit', post.id]"
              >Update </a
            >&nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div> -->
